* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #bb2339;
  padding: 26px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.logo__image:hover  path{
  color: #fff;
}

.header__container,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
    max-width: 539px;
    width: 100%;
}

.nav__list {
  list-style: none;
}

.nav__link  {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #ffffff;
}

.btn {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 100px;
}


/* Main  */

/* Hero  */

.hero {
  background-color:  #BB2339;
  padding: 83px 0 237px;
}

.hero__right__desc , .hero__right__title , .hero__right__bottom__desc , .hero__right__btn {
  font-family: 'Cera Round Pro';
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.04em;
text-transform: capitalize;
line-height: 130%;
}

.hero__right__desc {
font-size: 23px;
margin-bottom: 25px;
}

.hero__right__title {
font-size: 90px;
max-width: 555px;
margin-bottom: 20px;
}

.hero__right__bottom__desc {
  font-weight: 400;
font-size: 16px;
line-height: 175%;
opacity: 0.7;
max-width: 453px;
margin-bottom: 40px;
}

.hero__right__btn {
  border: 1px solid #FFFFFF;
border-radius: 100px;
font-size: 16px;
line-height: 175%;
padding: 8px 32px;
text-decoration: none;
}

/* Dishes */

.dishes {
  padding: 120px 0;
  background: #F8F8F8;
}

.dishes__title {
  font-family: 'Cera Round Pro';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;

/* qizil */

color: #BB2339;
margin-bottom: 40px;
}

.dishes__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.dishes__list img {
  padding: 20px 20px 10px 20px;
}

.dishes__item{
  background: #FFFFFF;
border-radius: 14px;
}

.dishes__item__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #242424;
}

.dishes__item__rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.dishes__item__price {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */

text-align: center;

/* qizil */

color: #BB2339;
margin-bottom: 40px;
}






