* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #bb2339;
  padding: 26px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.header__container,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
    max-width: 539px;
    width: 100%;
}

.nav__list {
  list-style: none;
}

.nav__link  {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #ffffff;
}

.btn {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 100px;
}

